apiVersion: apps/v1
kind: Deployment
metadata:
  name: talk-production-app
  labels:
    app: talk-production-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: talk-production-app
  template:
    metadata:
      labels:
        app: talk-production-app
    spec:
      containers:
        - name: talk-production-app
          image: zooniverse/talk-api:__IMAGE_TAG__
          resources:
            requests:
              memory: "500Mi"
              cpu: "10m"
            limits:
              memory: "750Mi"
              cpu: "500m"
          envFrom:
          - secretRef:
              name: talk-common-env-vars
          - secretRef:
              name: talk-production-env-vars
          - configMapRef:
              name: talk-production-shared
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: talk-production-shared
data:
  RAILS_ENV: production
  MAILER_ENABLE_STARTTLS_AUTO: 'true'
  MAILER_PORT: '587'
  MAILER_DOMAIN: zooniverse.org
  MAILER_AUTHENTICATION: plain
  SIDEKIQ_CONCURRENCY: '16'
---
apiVersion: v1
kind: Service
metadata:
  name: talk-production-app
spec:
  selector:
    app: talk-production-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
