apiVersion: apps/v1
kind: Deployment
metadata:
  name: talk-staging-app
  labels:
    app: talk-staging-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: talk-staging-app
  template:
    metadata:
      labels:
        app: talk-staging-app
    spec:
      containers:
        - name: talk-staging-app
          image: zooniverse/talk-api:__IMAGE_TAG__
          resources:
            requests:
              memory: "200Mi"
              cpu: "10m"
            limits:
              memory: "200Mi"
              cpu: "500m"
          envFrom:
          - secretRef:
              name: talk-common-env-vars
          - secretRef:
              name: talk-staging-env-vars
          - configMapRef:
              name: talk-staging-shared
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: talk-staging-shared
data:
  RAILS_ENV: staging
  MAILER_ENABLE_STARTTLS_AUTO: 'true'
  MAILER_PORT: '587'
  MAILER_DOMAIN: zooniverse.org
  MAILER_AUTHENTICATION: plain
  SIDEKIQ_CONCURRENCY: '2'
---
apiVersion: v1
kind: Service
metadata:
  name: talk-staging-app
spec:
  selector:
    app: talk-staging-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: talk-staging-redis
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: azurefile
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: talk-staging-redis
  labels:
    app: talk-staging-redis
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: talk-staging-redis
  template:
    metadata:
      labels:
        app: talk-staging-redis
    spec:
      tolerations:
      - key: "servicelife"
        operator: "Equal"
        value: "longlife"
        effect: "NoSchedule"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: servicelife
                operator: In
                values:
                - longlife
      initContainers:
        - name: disable-thp
          image: busybox
          volumeMounts:
            - name: host-sys
              mountPath: /host-sys
          command: ["sh", "-c", "echo never >/host-sys/kernel/mm/transparent_hugepage/enabled"]
      containers:
        - name: talk-staging-redis
          image: redis:6.0.5
          resources:
            requests:
              memory: "100Mi"
              cpu: "10m"
            limits:
              memory: "100Mi"
              cpu: "500m"
          volumeMounts:
          - name: talk-staging-redis-data
            mountPath: "/data"
      volumes:
        - name: talk-staging-redis-data
          persistentVolumeClaim:
            claimName: talk-staging-redis
        - name: host-sys
          hostPath:
            path: /sys
---
apiVersion: v1
kind: Service
metadata:
  name: talk-staging-redis
spec:
  selector:
    app: talk-staging-redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
  type: NodePort