<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="screen">
      body {
        font-family: 'Open Sans', 'Gill Sans', Arial, sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        color: #404040;
        background-color: #F1F1F1;
      }

      h1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 45px;
      }

      h2 {
        font-size: 22px;
        font-weight: 700;
        color: #4F4F4F;
        line-height: 33px;
      }

      h3 {
        font-size: 18px;
        font-weight: 700;
        color: #4F4F4F;
        line-height: 26px;
      }

      a, a:active, a:visited {
        color: #0072FF;
        text-decoration: none;
      }

      header {
        text-align: center;
        margin-top: 20px;
        margin-top: 10vh;
        margin-bottom: 40px;
        margin-bottom: 20vh;
      }

      footer {
        text-align: center;
        margin-top: 30px;
        margin-top: 20vh;
      }

      .centering {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
